/* :root guarda variáveis que podem ser usadas em todo o CSS */
:root {

    /* Cor de destaque (links, botões, detalhes) */
    --cor-acento: #BF9F63;

    /* Cor principal do fundo da página */
    --cor-fundo: #481C4F;

    /* Cor usada em cards, header, caixas */
    --cor-card: #4D1E54;

    /* Cor padrão dos textos */
    --cor-texto: #F2F2F2;

    --espaco: 20px;
}

.btn {
    display: inline-block;
    background-color: var(--cor-acento);   /* Fundo DOURADO */
    color: #1A1025;                         /* Texto QUASE PRETO */
    padding: 12px 24px;
    margin-bottom: 10px;
    margin-left: 10px;   /* Empurra o botão para a DIREITA */
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
}

/* BODY = corpo inteiro da página */
body {

    /* Cor de fundo */
    background-color: var(--cor-fundo);

    /* Cor padrão dos textos */
    color: var(--cor-texto);

    /* Remove margem padrão do navegador */
    margin: 0;

    /* Remove espaçamento interno padrão */
    padding: 0;
}


/* HEADER = cabeçalho */
header {

    /* Fundo do cabeçalho */
    background-color: var(--cor-card);
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* Espaçamento interno */
    padding: 20px;
}
.menu { 
    display: flex;
    list-style: none;
    gap: var(--espaco);
    margin: 0;
    padding: 0;
}    


/* A = links */
.menu a {

    /* Cor dos links */
    color: var(--cor-texto);

    /* Remove o sublinhado */
    text-decoration: none;
}

.menu a:hover {
    color: var(--cor-acento);
}

/* ========== SEÇÃO SOBRE ========== */
.sobre {
    text-align: center;
    padding: 40px var(--espaco);
    max-width: 900px;
    margin: 0 auto;
}

.sobre h2 {
    font-size: 28px;
    margin-bottom: 30px;
    color: var(--cor-acento);
}

.sobre-texto {
    max-width: 700px;
    margin: 0 auto;
}

.sobre-texto .dados {
    font-size: 18px;
    color: var(--cor-acento);
    margin: 20px 0;
}

.sobre-texto .slogan {
    font-size: 20px;
}

/* ========== GALERIA DE MOMENTOS ========== */
.galeria {
    display: flex;
    gap: var(--espaco);
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.card-momento {
    background-color: var(--cor-card);
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    width: 200px;
}

.card-momento img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 4px;
}

.card-momento p {
    margin: 10px 0 0;
    font-size: 14px;
    color: var(--cor-acento);
}
